@import '~@fluentui/react/dist/sass/References.scss';

.eventsWebPart {
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      font-size: 24px;
      flex-grow: 1;
      text-align: center;
    }

    .headerActions {
      display: flex;
      align-items: center;
      gap: 15px;

      .seeAll {
        color: #0078d4;
        text-decoration: none !important;
        
        &:hover {
          text-decoration: none !important;
          color: #0078d4;
        }
      }
    }
  }

  .noEvents {
    text-align: center;
    padding: 40px 20px;
    background: #f8f9fa;
    border-radius: 8px;

    .calendarIcon {
      font-size: 32px;
      color: #666;
      margin-bottom: 10px;
    }

    p {
      margin: 5px 0;
      font-weight: 600;
    }

    span {
      color: #666;
      font-size: 14px;
    }
  }

  .eventsList {
    .eventItem {
      display: flex;
      align-items: center;
      padding: 15px;
      // border-bottom: 1px solid #eee;
      background: #fff;
      border-radius: 8px;
      // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;

      &:last-child {
        border-bottom: none;
      }

      .eventDate {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 70px;
        margin-right: 15px;
        padding: 10px;
        border-radius: 6px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

        .month {
          font-size: 14px;
          color: #666;
          text-transform: uppercase;
        }

        .day {
          font-size: 24px;
          font-weight: 600;
        }
      }

      .eventDetails {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0 0 5px 0;
          font-size: 16px;
        }

        p {
          margin: 0;
          color: black;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
