@import '~@fluentui/react/dist/sass/References.scss';

:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
}
.meetingscalendar {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 8px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .date {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1b1b1b;
    padding: 10px 15px;

    h2 {
      margin: 0;
      font-size: 1rem;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2a3440cc;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    font-weight: 400;
    .titleDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 8px;
      font-weight: 400;
    }
    h3 {
      font-size: 1.2rem;
      margin: 0;
      font-weight: 400;

      display: flex;
      align-items: center;
    }

    .viewAll {
      font-weight: 400;

      font-size: 12px;
      color: #ffffff;

      text-decoration: none;
    }
  }
  .arrowbutton {
    background: none;
    display: flex;
    justify-content:center;
    padding: 11px 14px;
    align-items: center;
    border: none;
    color: #353333;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 1px solid rgb(214, 209, 209);
    cursor: pointer;

    &:hover {
      color: #3a3535;
    }
  }
  .meetingslist {
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;

    .meetingitem {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      border-radius: 4px;

      .time {
        font-size: 0.9rem;
        font-weight: 500;
        background-color: #0d5aac;
        color: white;
        margin-right: 10px;
        min-width: 57px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        text-align: center;
        
      }

      .details {
        .title {
          font-size: 0.95rem;
          font-weight: 500;
          color:#55a4f8
        }

        .description {
          font-size: 0.85rem;
          color: #6c757d;
        }
      }
    }

    .nomeetings {
      text-align: center;
      font-size: 0.9rem;
      color: #6c757d;
    }
  }
}